@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

.projects{
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-wrap: wrap;
    z-index: 100;
}

.upArrow{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    color: rgb(53, 23, 2);
    cursor: pointer;
    font-size: 70px;
    left: 0;
    right: 0;
    width: 100px;
    margin-top: 20px;
    text-align: center;
    z-index: 10;
}

.mainContainer{
    width: 100vw;
    position: absolute;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
}
.hide{
    opacity: 0;
}
.show{
    opacity: 1;
}


.container{
    display: flex;
    height: 80%;
    width: 80%;
}

.containerBox{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Passion One', cursive;
    padding: 20px 40px;
    color: rgb(82, 82, 82);
}

.textContainer{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 30px;

    color: rgb(240, 142, 5);
}

.link{
    cursor: pointer;
    transition: 0.3s;
}
.link:hover{
    color: rgb(202, 98, 0);
}

.textContainer h2{
    font-weight: normal;
    font-size: 30px;
}

.textContainer p{
    font-weight: normal;
    font-size: 25px;
    font-family: 'Sen', sans-serif;
    letter-spacing: 0px;
}

.technologiesContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.technologiesBox{
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.rightContainer{
    background-image: url("../../images/projectsImage/restaurant-image.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 230% 120%;

    animation-name: backgroundImageAnimation;
    animation-duration: 17s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes backgroundImageAnimation {
    0%{
        background-position: 50% 50%;
    }
    25%{
        background-position: 10% 50%;
    }
    50%{
        background-position: 10% 70%;
    }
    75%{
        background-position: 80% 70%;
    }
    100%{
        background-position: 50% 50%;
    }
    
}

.buttons{
    position: absolute;
    width: 100%;
    height: 10vh;
    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button{
    width: 40px;
    height: 40px;
    animation-name: none;
    opacity: 1;
    transition: 0.5s;
}
/* .show-button{
    background-color: rgb(28, 28, 28);
} */




@media screen and (max-width:1100px) {

    .container{
        display: flex;
        height: 80%;
        width: 80%;
        margin-top: 40px;
    }

    .containerBox{
        width: 50%;
        display: flex;
        flex-direction: column;
        font-family: 'Passion One', cursive;
        padding: 20px 40px;
        color: rgb(82, 82, 82);
    }

}


@media screen and (max-width:990px) {
    .container{
        display: flex;
        height: 80%;
        width: 95%;
        margin-top: 40px;
    }
}



@media screen and (max-width:786px) {
    .mainContainer{
        align-items: flex-start;
    }
    .container{
        display: flex;
        height: 95%;
        width: 100%;
        align-items: flex-start
    }
    .textContainer h2{
       text-align: center;
    }
    .links{
        justify-content: left;
    }

    .containerBox{
        width: 100%;
        padding: 30px 20px;
    }
    .rightContainer{
        display: none;
        width: 100%;
    }
    

    .textContainer p{
        font-weight: normal;
        font-size: 19px;
        font-family: 'Sen', sans-serif;
    }

    .upArrow{
       bottom: 30px; 
       right: 0px;
    }

}
