@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

.homePage{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 224, 183);
    box-sizing: border-box;
}

.myContent{
    position: absolute;
    font-family: 'Passion One', cursive;
    text-align: center;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: auto;
    margin-bottom: auto;
    top: 50vh;
    bottom: 0;

    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;

    width: 100vw;
    gap: 10px;
}
em{
    animation-name: opacity-anim;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 2s;
    opacity: 0;
    font-style: normal;
}
@keyframes opacity-anim {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

h2{
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(252, 172, 51);

    cursor:default;
}

strong{
    animation-name: opacity-anim;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 3s;
    opacity: 0;
}

h2 span{
    font-size: 40px;
    color: rgb(255, 119, 0);
    text-shadow: 0 0px 2px rgb(255, 119, 0);

    animation-name: opacity-anim;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 2.5s;
    opacity: 0;
}

button{
    z-index: 15;
    width: 200px;
    height: 50px;
    border: none;
    background-color: rgb(255, 168, 91);;
    color: rgb(255, 254, 253);
    font-family: 'Passion One', cursive;
    font-size: 32px;
    cursor: pointer;
    transition: 0.6s;
    opacity: 0;
    margin-top: 0;

    animation-name: opacity-anim;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-delay: 3.5s;
}

button:hover{
    background-color: rgb(204, 116, 0);
}

.icon{
    color: rgb(244, 137, 60);
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 20;
    transition: 0.5s;

    opacity: 0;
    animation-name: opacity-anim;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-delay: 2s;
}
.icon:hover{
    color: black;
}

.github{
    left: 20px;
    top: 20px;
}
.twitter{
    right: 20px;
    top: 20px;
}
.linkedin{
    left: 20px;
    bottom: 20px;
}
.facebook{
    right: 20px;
    bottom: 20px;
}

.closeMenu{
    position: absolute;
    font-size: 70px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100px;
    text-align: center;
    top: 20px;
    color: rgb(53, 23, 2);
    cursor: pointer;
    opacity: 0;
    animation-name: opacity-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;

    z-index: 120;
}




@media screen and (max-width:850px) {
   .myContent{
    top: 40vh;
    width: 95vw;
   }
   .closeMenu{
    position: absolute;
    top: 45%;

    z-index: 120;
}
}