@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

.menu{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
}

.left-menu{
    position: absolute;
    width: 30%;
    height: 100vh;
    background-color: rgb(255, 191, 95);
    top: 0;
    opacity: 1;
    transition: 0.7s;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.left-hide{
    opacity: 0;
    top: -100vw;
}


.right-menu{
    position: absolute;
    width: 30%;
    height: 100vh;
    background-color: rgb(255, 191, 95);
    top:0;
    left: 70%;
    opacity: 1;
    transition: 0.7s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-hide{
    top: -100vh;
    opacity: 0;
}


.center-menu{
    position: absolute;
    top: 0;
    width: 40%;
    left: 30%;
    height: 100vh;
    background-color: rgb(255, 170, 91);
    z-index: 20;
    transition: 0.7s;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.center-hide{
    opacity: 0;
    top: 200vh;
}

.menu-icon{
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.language-icon{
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.menu-title{
    color: rgb(255, 255, 255);
    font-family: 'Passion One', cursive;
    letter-spacing: 2px;
}
.menu-button{
    width: 200px;
    height: 50px;
    border: none;
    background-color: rgb(255, 247, 236);
    color: rgb(255, 190, 111);
    z-index: 10;
}

.menu-button:hover{
    background-color: rgb(78, 59, 33);
    color: white;
}

.menu-items{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    column-gap: 100px;
    row-gap: 40px;
    justify-content: center;
}

.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
}
.menu-item p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    margin-top: 2px;
    font-family: 'Passion One', cursive;
}