.form{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

.sendButton{
    width: 200px;
    color: black !important;
    background-color: white !important;
}


@media screen and (max-width:620px) {
    .form{
        width: 80%;
    }
}